/* Make page take full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Container takes full height and uses flex layout */
.container {
  display: flex;
  flex-direction: column; /* stack header, content, footer vertically */
  min-height: 100vh;      /* full screen height */
}


/* Content expands to push footer down */
.content {
    
  background-color: #f5f5f5;              /* takes remaining space */
  text-align: center;
}

/* Header styling */
.header {
  background-color: #4caf50;
  color: white;
  
}
.header1 {
  display: flex ;
  justify-content: space-between; /* left & right corners */
  align-items:flex-start ;            /* vertical center */
  background-color: #ffffff;
  padding: 0;
  flex-direction: row-reverse;
}
.button {
  display: flex;

}


/* Button styling */
.btn {
 
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  

}

.btn:hover {
  background-color: #45a049;
}

/* Footer styling */
.footer {
  text-align: center;
  background-color: #333;
  color: white;
  align-items:flex-end ; 
   margin-top: auto;
  

}

.menu {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
}

.menu a:hover {
  background-color: #444;
}
