.container1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header2 {
  display: flex;
  justify-content: flex start;  
  align-items: center;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;      
}


.content1 {
  width: 100%;
  background-color: #f5f5f5;
  text-align: left;        
 

  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 20px;                 
}

.paragraph {
  font-size: 22px;
  max-width: none;      
  text-align: center;
  margin: 0 auto;
}

.center-imgage {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
   width: 350px;      
  height: auto;
}

.content-section {
  max-width: 1280px;      
  margin: 0 auto;         
  padding-left: 24px;     
  padding-right: 24px;    

  padding-top: 100px;     
  padding-bottom: 80px;   

  display: grid;          
  grid-template-columns: 1fr;

  gap: 100px;              
  align-items: flex-start;
}

@media (min-width: 768px) {
  .content-section {
    grid-template-columns: repeat(2, 1);
  }
}

.content-text {
  color: #475569;
  font-size: 16px;        
  line-height: 1.9;       
}

.content-text > * + * {
  margin-top: 24px;       
}

.content2 {
  width: 100%;
  background-color: #ffffff;
  text-align: center;        
 

  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 10px;                 
}