.homepagelogo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepageheader {
  display: flex;
  justify-content: flex start;  
  align-items: center;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;      
}

.center-machine1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
   width: 1100px;      /* Increase this */
  height: auto;
}
