.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headers {
  display: flex;
  justify-content: flex start;  
  align-items: center;
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;      
}
